html {
  cursor: none;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(153, 215, 194);
}

h1 {
  text-align: center;
  font-size: 85px;
  line-height: 60px;
  color: rgb(101, 114, 114);
}

.cursor {
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  background-color: #1a2ee0;
  position: absolute;
  border-radius: 5px;
}

.cursor__follower {
  transition: transform .2s;
  width: 6px;
  height: 6px;
}

.cursor__follower-second {
  transition: transform .4s;
  width: 4px;
  height: 4px;
}